@mixin list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin link {
  text-decoration: none;
  color: $base-black;
}

@mixin active-header-button {
  &:active {
    background-color: $base-secondary;
  }
}

@mixin button-states {
  &:hover,
  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled,
  &[aria-disabled="true"] {
    background-color: $base-grey;
    pointer-events: none;
  }
}
