.slider {
  position: relative;
}

.slider__slides {
  @include list;
}

.slider__slide {
  padding: 20px 20px 60px;
  display: none;
}

.slider__slide--first {
  background-color: $flat-white;
}

.slider__slide--second {
  background-color: $lavender-latte;
}

.slider__slide--third {
  background-color: $espresso;
}

.slider__slide--active {
  display: block;
}

.slider__image {
  width: 280px;
  height: 280px;
  margin-bottom: 10px;
}

.slider__badge {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $base-primary;
}

.slider__header {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.slider__description {
  min-height: 100px;
  margin: 0;
  margin-bottom: 20px;
}

.slider__order {
  display: flex;
  margin: 0 25px;
  line-height: 32px;
}

.slider__old-price {
  margin: 4px 6px 4px 0;
  font-size: 16px;
  text-decoration: line-through;
  color: $base-primary;
}

.slider__price {
  margin: 4px auto 4px 0;
  font-weight: 600;
  font-size: 20px;
}

.slider__buy {
  @include button-states;
  border-radius: 4px;
  padding: 8px 20px;
  background-color: $base-primary;
  color: $base-white;
}

.slider__pagination {
  @include list;
  display: none;
}

.slider__button {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20px;
  background-color: transparent;

  &:hover,
  &:focus {
    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &[aria-disabled="true"] {
    pointer-events: none;
  }

  &[aria-disabled="true"] path {
    fill: $base-grey;
  }
}

.slider__button--next {
  right: 0;
  transform: rotate(180deg);
}

@media (min-width: $tablet-width) {
  .slider__slide {
    padding: 60px 80px 0;
  }

  .slider__slide--first {
    background: linear-gradient($flat-white 640px, $base-white 188px);
  }

  .slider__slide--second {
    background: linear-gradient($lavender-latte 640px, $base-white 188px);
  }

  .slider__slide--third {
    background: linear-gradient($espresso 640px, $base-white 188px);
  }

  .slider__slide picture {
    order: 1;
  }

  .slider__slide--active {
    display: flex;
    flex-direction: column;
  }

  .slider__image {
    width: 476px;
    height: 476px;
    margin: 0 auto;
  }

  .slider__header {
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
  }

  .slider__order {
    margin: 0 auto 20px;
  }

  .slider__price {
    margin-right: 20px;
  }

  .slider__button {
    width: 80px;
  }
}

@media (min-width: $desktop-width) {
  .slider__slide {
    padding: 30px 80px 84px;
  }

  .slider__slide--active {
    display: grid;
    gap: 0 30px;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 166px auto auto 1fr;
  }

  .slider__slide--first {
    background: none;
    background-color: $flat-white;
  }

  .slider__slide--second {
    background: none;
    background-color: $lavender-latte;
  }

  .slider__slide--third {
    background: none;
    background-color: $espresso;
  }

  .slider__slide picture {
    grid-column: 1/2;
    grid-row: 1/5;
    order: 0;
  }

  .slider__image {
    width: 600px;
    height: 600px;
  }

  .slider__badge {
    display: flex;
    align-items: end;
  }

  .slider__header {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }

  .slider__description {
    margin-bottom: 40px;
  }

  .slider__order {
    margin: 0 auto 0 0;
  }

  .slider__buy {
    height: min-content;
  }

  .slider__pagination {
    display: flex;
    position: absolute;
    top: 630px;
    left: 619px;
  }
}
